extends ../layout

block content
  include ./includes/header
  .main
    .container.tim-container
      .tim-title
        h2 任务在这儿
      #buttons
        .tim-title
          h3
            | 大学生科技创业中心
            small  正在收集你们的课表
        .row.tim-row
          .col-md-6
            .pick-class
              span.pick-class-label.label-default.label-fill.label-tooltip(data-toggle='tooltip', data-placement='top', title='技术部', new-class='btn-default')  
              span.pick-class-label.label-primary.label-fill.label-tooltip(data-toggle='tooltip', data-placement='top', title='动漫部', new-class='btn-primary')  
              span.pick-class-label.label-info.label-fill.label-tooltip(data-toggle='tooltip', data-placement='top', title='项目部', new-class='btn-info')  
              span.pick-class-label.label-success.label-fill.label-tooltip(data-toggle='tooltip', data-placement='top', title='行政部', new-class='btn-success')  
              span.pick-class-label.label-warning.label-fill.label-tooltip(data-toggle='tooltip', data-placement='top', title='网络部', new-class='btn-warning')
        #display-buttons.row.tim-row(data-class='btn-info')
          a.btn.btn-block.btn-lg.btn-info.btn-fill(href='/details') (点击相应的部门去填写上交课表)
        // end row
      // end buttons div
block contentjs
  script(src='assets/js/gsdk-checkbox.js')
  script(src='assets/js/gsdk-radio.js')
  script(src='assets/js/gsdk-bootstrapswitch.js')
  script(src='assets/js/get-shit-done.js')
  script(src='assets/js/custom.js')
  script(type='text/javascript').
    $('.btn-tooltip').tooltip();
    $('.label-tooltip').tooltip();
    $('.pick-class-label').click(function(){
      var new_class = $(this).attr('new-class');
      var title = $(this).attr('data-original-title');
      var old_class = $('#display-buttons').attr('data-class');
      var display_div = $('#display-buttons');
      if(display_div.length) {
        var display_buttons = display_div.find('.btn');
        display_buttons.removeClass(old_class);
        display_buttons.addClass(new_class);
        display_buttons.text(title+"点击此进入(点击相应的部门去填写上交课表)");
        display_div.attr('data-class', new_class);
      }
    });