.blurred-container
  .motto
    div #{word}
    .border.no-right-border 帮
    .border 助
    div 我们
  .img-src(style="background-image: url('assets/img/cover_4.jpg')")
  .img-src.blur(style="background-image: url('assets/img/cover_4_blur.jpg')")