// end main
.parallax-pro
  .img-src(style="background-image: url('http://get-shit-done-pro.herokuapp.com/assets/img/bg6.jpg');")
  .container
    .row
      .col-md-12.text-center
        h1
          small
            | 不要忘记关注我们
            a
      .col-md-6.col-md-offset-3.col-md-12.text-center
        h1.hello.text-center
          a(href='#')
            | GIthub是开源的
            span.label.label-warning  Free
          small
            ul.list-unstyled
              li C++算法
              li Nodejs平台
              li ExpressJs框架
        .actions
          a.btn.btn-lg.btn-warning.btn-fill(href='https://github.com/Lanseria') 去下载
    .space-30
    .row
      .col-md-12.text-center
        .credits
          | &copy; 
          script.
            document.write(new Date().getFullYear())
          |  Get Shit Done Kit by  Creative Tim, Motify by lanseria