#navbar-full
  .container
    nav.navbar.navbar-ct-blue.navbar-transparent.navbar-fixed-top(role='navigation')
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(href='/#')
            .logo-container
              .logo
                img(src='assets/img/new_logo.png')
              .brand
                | 主页
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li.dropdown
              a.dropdown-toggle(href='#gsdk', data-toggle='dropdown') #{web.org}
                b.caret
              ul.dropdown-menu
                li
                  a(href='#excel') Excel Demo 示例
                li.divider
                li
                  a(href='#about') 关于
            li
              button.btn.btn-round.btn-default(id='submit', disabled=!isSubmit) 提交
        // /.navbar-collapse
      // /.container-fluid
  // end container
  .blurred-container
    .motto
      div #{word}
      .border.no-right-border 帮
      .border 助
      div 我们
    .img-src(style="background-image: url('assets/img/cover_4.jpg')")
    .img-src.blur(style="background-image: url('assets/img/cover_4_blur.jpg')")